<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-document-sortie-heading"
        data-cy="DocumentSortieCreateUpdateHeading"
        jhiTranslate="jadeApp.documentSortie.home.createOrEditLabel"
      >
        Create or edit a Document Sortie
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="jadeApp.documentSortie.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" [hidden]="!editForm.get('id')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jadeApp.documentSortie.dateSaisie" for="field_dateSaisie">Date Saisie</label>
          <div class="input-group">
            <input
              id="field_dateSaisie"
              data-cy="dateSaisie"
              type="text"
              class="form-control"
              name="dateSaisie"
              ngbDatepicker
              #dateSaisieDp="ngbDatepicker"
              formControlName="dateSaisie"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateSaisieDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jadeApp.documentSortie.taxe" for="field_taxe">Taxe</label>
          <input type="number" class="form-control" name="taxe" id="field_taxe" data-cy="taxe" formControlName="taxe" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jadeApp.documentSortie.observation" for="field_observation">Observation</label>
          <input
            type="text"
            class="form-control"
            name="observation"
            id="field_observation"
            data-cy="observation"
            formControlName="observation"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jadeApp.documentSortie.montantht" for="field_montantht">Montantht</label>
          <input type="number" class="form-control" name="montantht" id="field_montantht" data-cy="montantht" formControlName="montantht" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jadeApp.documentSortie.montantttc" for="field_montantttc">Montantttc</label>
          <input
            type="number"
            class="form-control"
            name="montantttc"
            id="field_montantttc"
            data-cy="montantttc"
            formControlName="montantttc"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
