<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="typeProduit">
      <h2 data-cy="typeProduitDetailsHeading"><span jhiTranslate="jadeApp.typeProduit.detail.title">Type Produit</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jadeApp.typeProduit.id">Id</span></dt>
        <dd>
          <span>{{ typeProduit.id }}</span>
        </dd>
        <dt><span jhiTranslate="jadeApp.typeProduit.libelle">Libelle</span></dt>
        <dd>
          <span>{{ typeProduit.libelle }}</span>
        </dd>
        <dt><span jhiTranslate="jadeApp.typeProduit.description">Description</span></dt>
        <dd>
          <span>{{ typeProduit.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/type-produit', typeProduit.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
