<div>
  <h2 id="page-heading" data-cy="FournisseurHeading">
    <span jhiTranslate="jadeApp.fournisseur.home.title">Fournisseurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jadeApp.fournisseur.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fournisseur"
        [routerLink]="['/fournisseur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jadeApp.fournisseur.home.createLabel"> Create a new Fournisseur </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fournisseurs?.length === 0">
    <span jhiTranslate="jadeApp.fournisseur.home.notFound">No fournisseurs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="fournisseurs && fournisseurs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="jadeApp.fournisseur.id">Id</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.fournisseur.codeFournisseur">Code Fournisseur</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.fournisseur.raisonFournisseur">Raison Fournisseur</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.fournisseur.adrfournisseur">Adrfournisseur</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.fournisseur.paysFournisseur">Pays Fournisseur</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.fournisseur.villeFournisseur">Ville Fournisseur</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.fournisseur.mailFournisseur">Mail Fournisseur</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.fournisseur.celFournisseur">Cel Fournisseur</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.fournisseur.telFournisseur">Tel Fournisseur</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.fournisseur.societe">Societe</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fournisseur of fournisseurs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/fournisseur', fournisseur.id, 'view']">{{ fournisseur.id }}</a>
          </td>
          <td>{{ fournisseur.codeFournisseur }}</td>
          <td>{{ fournisseur.raisonFournisseur }}</td>
          <td>{{ fournisseur.adrfournisseur }}</td>
          <td>{{ fournisseur.paysFournisseur }}</td>
          <td>{{ fournisseur.villeFournisseur }}</td>
          <td>{{ fournisseur.mailFournisseur }}</td>
          <td>{{ fournisseur.celFournisseur }}</td>
          <td>{{ fournisseur.telFournisseur }}</td>
          <td>
            <div *ngIf="fournisseur.societe">
              <a [routerLink]="['/societe', fournisseur.societe?.id, 'view']">{{ fournisseur.societe?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/fournisseur', fournisseur.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/fournisseur', fournisseur.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(fournisseur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
