<div>
  <h2 id="page-heading" data-cy="DetailsStockHeading">
    <span jhiTranslate="jadeApp.detailsStock.home.title">Details Stocks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jadeApp.detailsStock.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-details-stock"
        [routerLink]="['/details-stock/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jadeApp.detailsStock.home.createLabel"> Create a new Details Stock </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="detailsStocks?.length === 0">
    <span jhiTranslate="jadeApp.detailsStock.home.notFound">No detailsStocks found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="detailsStocks && detailsStocks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="jadeApp.detailsStock.id">Id</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.detailsStock.stkQTEentrant">Stk QT Eentrant</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.detailsStock.stkQTEinitial">Stk QT Einitial</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.detailsStock.stkQTEreel">Stk QT Ereel</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.detailsStock.idCommande">Id Commande</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.detailsStock.idVente">Id Vente</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.detailsStock.idSortie">Id Sortie</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.detailsStock.dateSaisie">Date Saisie</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.detailsStock.montunitaireOP">Montunitaire OP</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.detailsStock.produit">Produit</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.detailsStock.documentAchat">Document Achat</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.detailsStock.documentVente">Document Vente</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.detailsStock.documentSortie">Document Sortie</span></th>
          <th scope="col"><span jhiTranslate="jadeApp.detailsStock.societe">Societe</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detailsStock of detailsStocks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/details-stock', detailsStock.id, 'view']">{{ detailsStock.id }}</a>
          </td>
          <td>{{ detailsStock.stkQTEentrant }}</td>
          <td>{{ detailsStock.stkQTEinitial }}</td>
          <td>{{ detailsStock.stkQTEreel }}</td>
          <td>{{ detailsStock.idCommande }}</td>
          <td>{{ detailsStock.idVente }}</td>
          <td>{{ detailsStock.idSortie }}</td>
          <td>{{ detailsStock.dateSaisie | formatMediumDate }}</td>
          <td>{{ detailsStock.montunitaireOP }}</td>
          <td>
            <div *ngIf="detailsStock.produit">
              <a [routerLink]="['/produit', detailsStock.produit?.id, 'view']">{{ detailsStock.produit?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="detailsStock.documentAchat">
              <a [routerLink]="['/document-achat', detailsStock.documentAchat?.id, 'view']">{{ detailsStock.documentAchat?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="detailsStock.documentVente">
              <a [routerLink]="['/document-vente', detailsStock.documentVente?.id, 'view']">{{ detailsStock.documentVente?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="detailsStock.documentSortie">
              <a [routerLink]="['/document-sortie', detailsStock.documentSortie?.id, 'view']">{{ detailsStock.documentSortie?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="detailsStock.societe">
              <a [routerLink]="['/societe', detailsStock.societe?.id, 'view']">{{ detailsStock.societe?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/details-stock', detailsStock.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/details-stock', detailsStock.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(detailsStock)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
